.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: hidden;
}
  
  @media (prefers-color-scheme: light) {
    .navbar {
      background-color: #A5B68D;
      color: #fff;
    }
  }

  @media (prefers-color-scheme: dark) {
    .navbar {
      background-color: #EDE8DC;
      color: #A5B68D;
    }
  }

  .navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-center .nav-links li {
    margin-right: 1rem;
  }
  
  .navbar-center .nav-links a, .navbar-left .logo {
    text-decoration: none;
    color: inherit;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }